body{
    background-color: #FDDB4D;
}
#login-page{
    width: 60%;
    margin: 100px auto;
    background-color: black;
    color: white;
    padding: 100px 10px;
    /* border: 1px solid black; */
    border-radius: 15px;
  }
  #login-page form input{
    display: block;
    width: 60%;
    margin: 25px auto;
    padding: 20px;
    border-radius: 10px;
    border: none;
  }
  #login-page form input[type='submit']{
    width: 150px;
    background-color: blue;
    color: white;
  }
  